h1{
    font-family: Pacifico;
}

.title-mcraulos{
    color: #FFA500;
}
@media(width >=620px ){
    .title-mcraulos{
        min-width: 22rem;
    }
    
}
@media(width<=620px){
.media-column{
        flex-direction: column;
    }
}

 .welcome-text {
    color: whitesmoke;
}