h1{
    font-family: Pacifico;
}

.title-mcraulos{
    color: #FFA500;
}
@media(width >=620px ){
    .title-mcraulos{
        min-width: 22rem;
    }
    
}
@media(width<=620px){
.media-column{
        flex-direction: column;
    }
}
/* .title-yellow{
    color: linear-gradient(45deg, #FFD700, #FFA500, #FFD700);
} */
 .welcome-text {
    /* background: linear-gradient(45deg, #FFD700, #FFA500, #FFD700);
    background-size: 200% 200%;
    animation: gradient-shift 3s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
    color: whitesmoke;
}