@import "tailwindcss";

/* Importacion de fuente */
@theme {
  --font-pacifico: "Pacifico", cursive;
}

:root{
  --bg-mcraulos-red: #8B0000;
}

.bg-red-mcraulos{
   background: linear-gradient(135deg, #DC143C 0%, #B22222 50%, #8B0000 100%);
  }